#root-container {
  #App {
    min-height: 100vh;
    padding-bottom: 54px;
    margin-bottom: -60px;
    @include breakPoint(mobile) {
      padding-bottom: 174px;
      margin-bottom: -174px;
    }
  }
}
